<div class="card">
    <div class="card-body" id="dashCard">
        <div class="container-fluid">
            <div class="row" id="dashRow">
                <div class="col-2" id="dashLogo">
                    S
                </div>
                <div class="col-2">
                    <a href="/chart"><button type="button" id="chartBtn"><i class="fa fa-bar-chart"></i></button></a>
                </div>
                <div class="col-2 dropdown">
                    <button type="button" id="filterBtn"><i onclick="dropDown()" class="dropbtn fa fa-sort" ></i></button>
                    <div id="myDropdown" class="dropdown-content">
                        <a href="#" id="alphatical">Alphabetically</a>
                        <a href="#" id="highToLow">Highest to lowest price</a>
                        <a href="#" id="lowToHigh">Lowest to highest price</a>
                    </div>
                </div>
                <div class="col-2">
                    <button type="button" id="logoutBtn"><i class="fa fa-sign-out"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card" id="subCard">
    <div class="card-body" id="subCardBody">
        {{!-- {{#if subscriptions.length}}
        {{#each subscriptions as |subscription|}}
        <a href="/editsub/{{id}}">
            <div class="card substers" id="subs" data-category="{{amount}}">
                <div class="card-body container-fluid">
                    <div class="row" id="bigRow">
                        <div class="col-3">
                            <div id="iconDiv"></div>
                        </div>
                        <div class="container-fluid" id="subInfo">
                            <div class="row">
                                <div class="col-4">
                                    <h5 class="card-title" id="subTitle">{{title}}</h5>
                                </div>
                                <div class="col-4">
                                    <p class="card-text" id="subAmount">${{amount}}</p>
                                </div>
                                <div class="col-4">
                                    <p class="card-text" id="subCycle">{{billing_cycle}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <p class="card-text" id="subCategory">{{category}}</p>
                                </div>
                                <div class="col-4">
                                    <p class="card-text" id="subRating">{{rating}}</p>
                                </div>
                                <div class="col-4">
                                    <p class="card-text" id="subNextPay">{{format_date next_payment}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        {{/each}}
        {{/if}} --}}

        <div class="card subs" id="subs" data-category="40.00">
            <div class="card-body container-fluid">
                <div class="row" id="bigRow">
                    <div class="col-3">
                        <div id="iconDiv"></div>
                    </div>
                    <div class="container-fluid" id="subInfo">
                        <div class="row">
                            <div class="col-4">
                                <h5 class="card-title" id="subTitle">Netflix</h5>
                            </div>
                            <div class="col-4">
                                <p class="card-text" id="subAmount">40.00</p>
                            </div>
                            <div class="col-4">
                                <p class="card-text" id="subCycle">Monthly</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <p class="card-text" id="subCategory">Streaming</p>
                            </div>
                            <div class="col-4">
                                <p class="card-text" id="subRating">4 stars</p>
                            </div>
                            <div class="col-4">
                                <p class="card-text" id="subNextPay">May 30</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card subs" id="subs" data-category="99.00">
            <div class="card-body container-fluid">
                <div class="row" id="bigRow">
                    <div class="col-3">
                        <div id="iconDiv"></div>
                    </div>
                    <div class="container-fluid" id="subInfo">
                        <div class="row">
                            <div class="col-4">
                                <h5 class="card-title" id="subTitle">Amazon</h5>
                            </div>
                            <div class="col-4">
                                <p class="card-text" id="subAmount">99.00</p>
                            </div>
                            <div class="col-4">
                                <p class="card-text" id="subCycle">Yearly</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <p class="card-text" id="subCategory">Shipping</p>
                            </div>
                            <div class="col-4">
                                <p class="card-text" id="subRating">3 stars</p>
                            </div>
                            <div class="col-4">
                                <p class="card-text" id="subNextPay">Dec 20</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card subs" id="subs" data-category="8.00">
            <div class="card-body container-fluid">
                <div class="row" id="bigRow">
                    <div class="col-3">
                        <div id="iconDiv"></div>
                    </div>
                    <div class="container-fluid" id="subInfo">
                        <div class="row">
                            <div class="col-4">
                                <h5 class="card-title" id="subTitle">Spotify</h5>
                            </div>
                            <div class="col-4">
                                <p class="card-text" id="subAmount">8.00</p>
                            </div>
                            <div class="col-4">
                                <p class="card-text" id="subCycle">Monthly</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <p class="card-text" id="subCategory">Audio</p>
                            </div>
                            <div class="col-4">
                                <p class="card-text" id="subRating">5 stars</p>
                            </div>
                            <div class="col-4">
                                <p class="card-text" id="subNextPay">May 15</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card subs" id="subs" data-category="40.00">
            <div class="card-body container-fluid">
                <div class="row" id="bigRow">
                    <div class="col-3">
                        <div id="iconDiv"></div>
                    </div>
                    <div class="container-fluid" id="subInfo">
                        <div class="row">
                            <div class="col-4">
                                <h5 class="card-title" id="subTitle">Netflix</h5>
                            </div>
                            <div class="col-4">
                                <p class="card-text" id="subAmount">40.00</p>
                            </div>
                            <div class="col-4">
                                <p class="card-text" id="subCycle">Monthly</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <p class="card-text" id="subCategory">Streaming</p>
                            </div>
                            <div class="col-4">
                                <p class="card-text" id="subRating">4 stars</p>
                            </div>
                            <div class="col-4">
                                <p class="card-text" id="subNextPay">May 30</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card subs" id="subs" data-category="99.00">
            <div class="card-body container-fluid">
                <div class="row" id="bigRow">
                    <div class="col-3">
                        <div id="iconDiv"></div>
                    </div>
                    <div class="container-fluid" id="subInfo">
                        <div class="row">
                            <div class="col-4">
                                <h5 class="card-title" id="subTitle">Amazon</h5>
                            </div>
                            <div class="col-4">
                                <p class="card-text" id="subAmount">99.00</p>
                            </div>
                            <div class="col-4">
                                <p class="card-text" id="subCycle">Yearly</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <p class="card-text" id="subCategory">Shipping</p>
                            </div>
                            <div class="col-4">
                                <p class="card-text" id="subRating">3 stars</p>
                            </div>
                            <div class="col-4">
                                <p class="card-text" id="subNextPay">Dec 20</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card subs" id="subs" data-category="8.00">
            <div class="card-body container-fluid">
                <div class="row" id="bigRow">
                    <div class="col-3">
                        <div id="iconDiv"></div>
                    </div>
                    <div class="container-fluid" id="subInfo">
                        <div class="row">
                            <div class="col-4">
                                <h5 class="card-title" id="subTitle">Spotify</h5>
                            </div>
                            <div class="col-4">
                                <p class="card-text" id="subAmount">8.00</p>
                            </div>
                            <div class="col-4">
                                <p class="card-text" id="subCycle">Monthly</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <p class="card-text" id="subCategory">Audio</p>
                            </div>
                            <div class="col-4">
                                <p class="card-text" id="subRating">5 stars</p>
                            </div>
                            <div class="col-4">
                                <p class="card-text" id="subNextPay">May 15</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card subs" id="subs" data-category="40.00">
            <div class="card-body container-fluid">
                <div class="row" id="bigRow">
                    <div class="col-3">
                        <div id="iconDiv"></div>
                    </div>
                    <div class="container-fluid" id="subInfo">
                        <div class="row">
                            <div class="col-4">
                                <h5 class="card-title" id="subTitle">Netflix</h5>
                            </div>
                            <div class="col-4">
                                <p class="card-text" id="subAmount">40.00</p>
                            </div>
                            <div class="col-4">
                                <p class="card-text" id="subCycle">Monthly</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <p class="card-text" id="subCategory">Streaming</p>
                            </div>
                            <div class="col-4">
                                <p class="card-text" id="subRating">4 stars</p>
                            </div>
                            <div class="col-4">
                                <p class="card-text" id="subNextPay">May 30</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card subs" id="subs" data-category="99.00">
            <div class="card-body container-fluid">
                <div class="row" id="bigRow">
                    <div class="col-3">
                        <div id="iconDiv"></div>
                    </div>
                    <div class="container-fluid" id="subInfo">
                        <div class="row">
                            <div class="col-4">
                                <h5 class="card-title" id="subTitle">Amazon</h5>
                            </div>
                            <div class="col-4">
                                <p class="card-text" id="subAmount">99.00</p>
                            </div>
                            <div class="col-4">
                                <p class="card-text" id="subCycle">Yearly</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <p class="card-text" id="subCategory">Shipping</p>
                            </div>
                            <div class="col-4">
                                <p class="card-text" id="subRating">3 stars</p>
                            </div>
                            <div class="col-4">
                                <p class="card-text" id="subNextPay">Dec 20</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card subs" id="subs" data-category="8.00">
            <div class="card-body container-fluid">
                <div class="row" id="bigRow">
                    <div class="col-3">
                        <div id="iconDiv"></div>
                    </div>
                    <div class="container-fluid" id="subInfo">
                        <div class="row">
                            <div class="col-4">
                                <h5 class="card-title" id="subTitle">Spotify</h5>
                            </div>
                            <div class="col-4">
                                <p class="card-text" id="subAmount">8.00</p>
                            </div>
                            <div class="col-4">
                                <p class="card-text" id="subCycle">Monthly</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <p class="card-text" id="subCategory">Audio</p>
                            </div>
                            <div class="col-4">
                                <p class="card-text" id="subRating">5 stars</p>
                            </div>
                            <div class="col-4">
                                <p class="card-text" id="subNextPay">May 15</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="addBtnDiv">
            <a href="/addsub"><button type="button" id="addSubBtn">+</button></a>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="./js/dashboard.js"></script>