<div class="card editCard">
  <div class="card-body">
    <div class="row" id="editRow">
      <div class="col-2 p-0">
        <a href="/dashboard"><i class="fa fa-arrow-left backbutton"></i></a>
      </div>
      <div class="col-9">
        <h5 class="card-title text-center m-0">Edit Subscription</h5>
      </div>
    </div>
  </div>
</div>

<div class="card editCard">
    <div class="card-body">
        <form class="form editSub-form" data-id="{{id}}">
            <div class="form-group">
                <label for="editSubName">Name:</label>
                <input class="form-control" type="text" id="editSubName" value="{{title}}" required/>
            </div>
            <div class="form-group">
                <label for="editSubCategory">Category:</label>
                <select class="form-control" type="text" id="editSubCategory" value="{{category}}" required>
                  <option>{{category}}</option>
                  <option>Books</option>
                  <option>Education</option>
                  <option>Food/Grocery</option>
                  <option>Health/Fitness</option>
                  <option>Music/Audio</option>
                  <option>News</option>
                  <option>Pets</option>
                  <option>Shopping</option>
                  <option>Video</option>
                  <option>Other</option>
                </select>
            </div>
            <div class="form-group">
                <label for="editSubNextPay">Next Payment:</label>
                <input class="form-control" type="text" placeholder="MM/DD/YYYY" id="editSubNextPay" value="{{format_date next_payment}}" required/>
            </div>
            <div class="form-group">
                <label for="editSubCycle">Cycle:</label>
                <select class="form-control" type="text" id="editSubCycle" value="{{billing_cycle}}" required>
                  <option>{{billing_cycle}}</option>
                  <option>Weekly</option>
                  <option>Biweekly</option>
                  <option>4-weekly</option>
                  <option>Monthly</option>
                  <option>Bimonthly</option>
                  <option>Quarterly</option>
                  <option>Half-yearly</option>
                  <option>Yearly</option>
                </select>
            </div>
            <div class="form-group">
                <label for="editSubAmount">Amount (USD):</label>
                <input class="form-control" type="text" id="editSubAmount" placeholder="0.00" value="{{amount}}" required/>
            </div>
            <div class="form-group">
                <label for="editSubRating">Rating:</label>
                <select class="form-control" type="text" id="editSubRating" value="{{rating}}" required>
                  <option>{{rating}}</option>
                  <option>5</option>
                  <option>4</option>
                  <option>3</option>
                  <option>2</option>
                  <option>1</option>
                </select>
            </div>

            <div class="form-group" id="buttonForm">
                <button class="btn" type="submit" id="saveEdited" data-id="{{id}}">Save</button>
                <button class="btn" type="button" id="deleteEdited" data-id="{{id}}">Delete</button>
            </div>
        </form>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="/js/editsub.js"></script>