<div class="card editCard">
  <div class="card-body">
    <div class="row" id="editRow">
      <div class="col-2" id="dashLogo">
        S
      </div>
      <div class="col-9">
        <h5 class="card-title text-center">Edit Subscription</h5>
      </div>
    </div>
  </div>
</div>

<div class="card editCard">
    <div class="card-body">
        <form class="form editSub-form">
            <div class="form-group">
                <label for="editSubName">Name:</label>
                <input class="form-control" type="text" id="editSubName" value="{{title}}" />
            </div>
            <div class="form-group">
                <label for="editSubCategory">Category:</label>
                <input class="form-control" type="text" id="editSubCategory" value="{{category}}" />
            </div>
            <div class="form-group">
                <label for="editSubNextPay">Next Payment:</label>
                <input class="form-control" type="text" id="editSubNextPay" value="{{next_payment}}" />
            </div>
            <div class="form-group">
                <label for="editSubCycle">Cycle:</label>
                <input class="form-control" type="text" id="editSubCycle" value="{{billing_cycle}}" />
            </div>
            <div class="form-group">
                <label for="editSubAmount">Amount (USD):</label>
                <input class="form-control" type="text" id="editSubAmount" value="{{amount}}" />
            </div>
            <div class="form-group">
                <label for="editSubRating">Rating:</label>
                <input class="form-control" type="text" id="editSubRating" value="{{rating}}" />
            </div>

            <div class="form-group" id="buttonForm">
                <button class="btn" type="submit" id="saveEdited" data-id="{{id}}">Save</button>
                <button class="btn" type="button" id="deleteEdited" data-id="{{id}}">Delete</button>
            </div>
        </form>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>